apiVersion: v1
kind: Cluster
metadata:
  name: {{ name }}
  labels:
    environment: {{ environment }}
    version: {{ version }}
spec:
  environment: {{ environment }}
  version: {{ version }}
  description: "Negative Space Imaging Project Multi-Node Cluster"
  managedBy: "Negative Space Imaging Project Deployment Manager"
